p.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: 3;
}