<section class="text-gray-600 body-font relative ml-[15%] md:ml-[5%]">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-[#21ADA8]">Web Ventures Unleashed</h1>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">The phrase might convey the idea that there is incredible potential and creativity waiting to be expressed and explored through various online activities or projects.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-itmg.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Revamp Website</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Indo Tambangraya Megah</h2>
          <p class="leading-relaxed description text-base mb-4">PT Indo Tambangraya Megah Tbk (ITM) is an Indonesian energy company with more than decades of experience. We focus on optimizing returns from the coal value chain and continue to diversify in the energy sector, such as renewable business.  </p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-greenchem.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Revamp Website</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Greenchem</h2>
          <p class="leading-relaxed description text-base mb-4">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-tbp.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Revamp Website</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Trimegah Bangun Persada</h2>
          <p class="leading-relaxed description text-base mb-4">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-rhapsodie.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Fixing Website</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Rhapsodie</h2>
          <p class="leading-relaxed description text-base mb-4">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-tmmin.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Maintenance Website</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">TMMIN</h2>
          <p class="leading-relaxed description text-base mb-4">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-newsroom.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Maintenance Website</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">TMMIN Newsroom</h2>
          <p class="leading-relaxed description text-base mb-4">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-xev.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Maintenance Website</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">xEV Center</h2>
          <p class="leading-relaxed description text-base mb-4">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/img/home-at.png"
            alt="content">
          <h3 class="tracking-widest text-[#21ADA8] text-xs font-medium uppercase title-font">Report Analytic</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Agung Toyota</h2>
          <p class="leading-relaxed description text-base mb-4">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
            <!-- <a routerLink="greenchem" class="text-[#21ADA8] inline-flex items-center">View Detail
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
        </div>
      </div>
      
    </div>
  </div>
</section>