<section class="text-gray-600 body-font relative mt-[150px] lg:mt-[115px]">
  
  <div class="container px-5 py-12 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
      <img alt="feature" class="object-cover object-center h-full w-full" src="assets/img/about-profile.jpg">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      @for (item of abouts; track item.id) {
        <div class="flex flex-col mb-10 lg:items-start items-center" >

          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-[#99EEBB] text-white mb-5">
            <i [class]="item.icon"></i>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium uppercase mb-3">{{item.title}}</h2>
            <p class="leading-relaxed text-base">{{item.description}}</p>
          </div>
        </div>
      }
    </div>
  </div>
    <div class="container px-5 py-8 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-[#21ADA8]">Work Experiences</h1>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col mt-1">
            <span class="font-semibold title-font text-gray-700 uppercase">SAMCGI</span>
            <span class="mt-1 text-gray-500 text-sm">Oct 22 - Jan 24</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">FrontEnd Developer</h2>
            <p class="leading-relaxed">Learned various project related to Frontend Developer activities and creating a website, such as:
              <br>
              - Laravel Blade Best Practice
              <br>
              - Pyro Content Management System
              <br>
              - Best View Component for Website
              <br>
              - Code Principle
              <br>
              <br>
              
              Tech Stack: Filezilla, Laravel, HTML, PHP, Bootstrap CSS, Tailwind CSS, JQuery, Vue JS 3
              Project :
              <br>
              - Maintenance website for PT. Toyota Motor Manufacturing Indonesia. | toyota.co.id
              <br>
              - Being project officer Rhapsodie.Co | rhapsodie.co
              <br>
              - Develop and maintenance website for PT. TRIMEGAH BANGUN PERSADA | tbpnickel.com
              <br>
              - Develop and maintenance website for PT. Green Chemicals Indonesia | greenchem.co.id
              <br>
              - Develop and maintenance website for Indo Tambangraya Megah | itmg.co.id
              <br>
              - Develop website for internal SAMCGI Mobile Web | projects.samcgi.com/credential-mobile</p>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col mt-1">
            <span class="font-semibold title-font text-gray-700 uppercase">Lembaga Pengembangan Komputerisasi Universitas Gunadarma</span>
            <span class="mt-1 text-gray-500 text-sm">Oct 21 - Sep 22</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Computer Lab Assistant</h2>
            <p class="leading-relaxed">Become a practicum assistant for students for DBMS and Networking Class include MySQL, ORacle, and Cisco</p>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col mt-1">
            <span class="font-semibold title-font text-gray-700 uppercase">GOTAGO</span>
            <span class="text-sm text-gray-500">Feb 22 - Jun 22</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Freelance Website Development Project</h2>
            <p class="leading-relaxed">
              Continuing the tasks, research the client's requirements, contribute to constructing the front-end interface, and collect pertinent information from each discussion for the developers for Ikatan Arsitek Indonesia Jakarta</p>
          </div>
        </div>
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col mt-1">
            <span class="font-semibold title-font text-gray-700 uppercase">Indoensia Cyber Education Institute</span>
            <span class="text-sm text-gray-500">Feb 22 - Jun 22</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Game Designer</h2>
            <p class="leading-relaxed">
              Designing the plot of the game. Creating story concept, level arrangement, and interface design.Also win the best gameplay for the game.</p>
          </div>
        </div>
      </div>
    </div>
</section>
