<header [class.scrolled]="isScrolled" class="sidebar-navbar text-gray-600 body-font fixed left-0 h-full bg-white z-10 w-[15%] md:w-[5%]">
  <div class="container mx-auto flex flex-col items-center p-5 h-full">
    <a routerLink="/" class="flex mb-4 w-full title-font font-medium items-center text-gray-900 justify-center">
      <img class="w-full" src="assets/img/logo.png" alt="logo">
    </a>
    <nav class="flex flex-col navigation-list w-full items-center text-base justify-start flex-grow">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mb-5 p-0 text-lg transition ease-in-out duration-300">
        <i class="fa-solid fa-house"></i>
      </a>
      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mb-5 text-lg transition ease-in-out duration-300">
        <i class="fa-solid fa-user"></i>
      </a>
      <a routerLink="/web-projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mb-5 text-lg transition ease-in-out duration-300">
        <i class="fa-solid fa-globe"></i>
      </a>
      <a routerLink="/filter-projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mb-5 text-lg transition ease-in-out duration-300">
        <i class="fa-solid fa-icons"></i>
      </a>
    </nav>
    <nav class="flex flex-col items-center mt-auto navigation-list"> 
      <a href="mailto:yusrihilmi4@gmail.com" class="text-lg transition ease-in-out duration-300" [ngClass]="{ 'pulse-blink': isBlinking }" target="_blank">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.linkedin.com/in/yusri-hilmi-387a57136/" class="text-lg transition ease-in-out duration-300" [ngClass]="{ 'pulse-blink': isBlinking }" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://wa.me/6287824780507" class="text-lg transition ease-in-out duration-300" [ngClass]="{ 'pulse-blink': isBlinking }" target="_blank">
        <i class="fa-brands fa-square-whatsapp"></i>
      </a>
    </nav>
  </div>
</header>
