<section class="text-gray-600 body-font relative mt-[150px] lg:mt-[115px]">
  <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-4 object-cover object-center rounded" alt="hero"
      src="https://dummyimage.com/720x600">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Page Not Found!</h1>
      <div class="flex justify-center">
        <a routerLink="/home"
          class=" bg-none text-center border-[#99EEBB] border-4 py-2 px-6 focus:outline-none hover:bg-[#99EEBB] hover:text-white rounded md:text-lg text-sm font-bold transition ease-in-out duration-300">Back To Home</a>
      </div>
      <p class="mt-4 leading-relaxed">Meggings kinfolk echo park stumptown DIY, kale chips beard jianbing tousled.
        Chambray dreamcatcher trust fund, kitsch vice godard disrupt ramps hexagon mustache umami snackwave tilde
        chillwave ugh. Pour-over meditation PBR&B pickled ennui celiac mlkshk freegan photo booth af fingerstache
        pitchfork.</p>
      
    </div>
  </div>
</section>
