<section class="text-gray-600 body-font relative mt-[150px] lg:mt-[115px]">
  <div class="container px-5 py-12 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/greenchem-detail-1.png">
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
            <img src="assets/img/logo-greenchem.png" alt="">
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">PT. Green Chemicals Indonesia (GREENCHEM)</h2>
            <div class="w-12 h-1 bg-[#21ADA8] rounded mt-2 mb-4"></div>
            <p class="text-base">PT Green Chemicals Indonesia (Greenchem) is a chemical manufacturing company and we are dedicated to produce the best chemical product through research, development, and innovation.</p>
          </div>
        </div>
        <div
          class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-left">
          <p class="leading-relaxed text-lg mb-4">The revamp focused on functionality, access swiftly, and user friendly experience for new visitor. We optimized the structure of the website and incorporated advanced search features to improve its functionality. By following web accessibility guidelines, we guaranteed that the platform could be used by everyone. Enhancements to the user experience were achieved through a design approach that prioritizes the user, intuitive navigation, and simplified product categorization. We designed the visual components to connect with the intended audience, embracing a simplistic style that emphasized the product as the primary focal point. The design strategy was geared towards establishing an interactive and user-friendly platform.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-5 py-4 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/greenchem-detail-2.png">
      </div>
      <div class="flex flex-col sm:flex-row mt-4">
        <div class="w-full sm:py-2 mt-2 pt-2 sm:mt-0 text-left">
          <p class="leading-relaxed text-lg mb-8">
            We carefully designed the elements to connect with the intended audience, incorporating neat design elements, premium imagery, and a cohesive brand presentation. The design strategy focused on building an appealing and user-friendly platform, ensuring customers have an enjoyable shopping experience.</p>
            <a href="https://greenchem.co.id/" class="text-[#21ADA8] inline-flex items-center">Visit Website
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
        </div>
      </div>
    </div>
  </div>
</section>