<div class="slider-logo relative py-12">
    <div class="gradient-overlay"></div>
    <h1 class="sm:text-3xl text-2xl text-center font-medium title-font text-[#21ADA8] mt-4 lg:mb-8 mb-8">Project that i'm involved</h1>
    <ng-image-slider 
    [images]="imageObject" 
    [infinite]="sliderConfig.infinite"
    [autoSlide]="sliderConfig.autoSlide"
    [imageSize]="sliderConfig.imageSize"
    [imagePopup]="sliderConfig.imagePopup">
    
  </ng-image-slider>
  <div class="gradient-overlay-bottom"></div>
  </div>