<section class="text-gray-600 body-font relative ml-[15%] md:ml-[5%]">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden loading-bar-container">
        <div class="w-24 h-full bg-[#99EEBB] loading-bar"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 md:mb-4">
        <h1 class="sm:w-1/2 text-[#21ADA8] font-medium title-font text-2xl mb-2 sm:mb-0">Elevate with AR Magic</h1>
        <p class="sm:w-1/2 leading-relaxed text-base  pl-0">The phrase implies that users will undergo a unique, captivating, and elevated experience through AR technology, which adds a touch of magic or uniqueness to a specific situation or context.</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="container px-5 py-8 mx-auto md:flex hidden flex-wrap">
        <div class="flex flex-wrap  mt-auto mb-auto lg:w-1/2 sm:w-1/2 content-start">
          <div class="w-full mb-6">
            <h1 class="title-font font-medium text-xl mb-2 text-gray-900">"Catch The Roadster" (Mazda Indonesia)
            </h1>
            <div class="leading-relaxed">Create Instagram filter that you must blink your eye to stop the car but the car position must be in the middle</div>
          </div>
          <!-- <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2 ">
            <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
            <p class="leading-relaxed">Users</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
            <p class="leading-relaxed">Subscribes</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">35</h2>
            <p class="leading-relaxed">Downloads</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
            <p class="leading-relaxed">Products</p>
          </div> -->
        </div>
        <div class="lg:w-1/2 sm:w-1/2 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
          <img class="object-cover object-center w-full h-full" src="assets/img/home-mazda.png" alt="stats">
        </div>
      </div>
      <div class="container px-5 py-8 mx-auto md:hidden flex flex-wrap">
        <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mb-10">
          <img class="object-cover object-center w-full h-full" src="assets/img/home-mazda.png" alt="stats">
        </div>
        <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
          <div class="w-full sm:p-4 px-4 mb-6">
            <h1 class="title-font font-medium text-xl mb-2 text-gray-900">"Catch The Roadster" (Mazda Indonesia)
            </h1>
            <div class="leading-relaxed">Create Instagram filter that you must blink your eye to stop the car but the car position must be in the middle</div>
          </div>
          <!-- <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
            <p class="leading-relaxed">Users</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
            <p class="leading-relaxed">Subscribes</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">35</h2>
            <p class="leading-relaxed">Downloads</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
            <p class="leading-relaxed">Products</p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="container px-5 py-8 mx-auto md:flex hidden flex-wrap">
        <div class="flex flex-wrap  mt-auto mb-auto lg:w-1/2 sm:w-1/2 content-start">
          <div class="w-full mb-6">
            <h1 class="title-font font-medium text-xl mb-2 text-gray-900">"Balm Filter" (GATSBY Code)
            </h1>
            <div class="leading-relaxed">Create Tiktok filter that user will get randomize hairstyle with your face in it to know which balm that looks good on you</div>
          </div>
          <!-- <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2 ">
            <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
            <p class="leading-relaxed">Users</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
            <p class="leading-relaxed">Subscribes</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">35</h2>
            <p class="leading-relaxed">Downloads</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
            <p class="leading-relaxed">Products</p>
          </div> -->
        </div>
        <div class="lg:w-1/2 sm:w-1/2 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
          <img class="object-cover object-center w-full h-full" src="assets/img/home-gatsby.png" alt="stats">
        </div>
      </div>
      <div class="container px-5 py-8 mx-auto md:hidden flex flex-wrap">
        <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mb-10">
          <img class="object-cover object-center w-full h-full" src="assets/img/home-gatsby.png" alt="stats">
        </div>
        <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
          <div class="w-full sm:p-4 px-4 mb-6">
            <h1 class="title-font font-medium text-xl mb-2 text-gray-900">"Balm Filter" (GATSBY Code)
            </h1>
            <div class="leading-relaxed">Create Tiktok filter that user will get randomize hairstyle with your face in it to know which balm that looks good on you</div>
          </div>
          <!-- <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
            <p class="leading-relaxed">Users</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
            <p class="leading-relaxed">Subscribes</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">35</h2>
            <p class="leading-relaxed">Downloads</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
            <p class="leading-relaxed">Products</p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="container px-5 py-8 mx-auto md:flex hidden flex-wrap">
        <div class="flex flex-wrap  mt-auto mb-auto lg:w-1/2 sm:w-1/2 content-start">
          <div class="w-full mb-6">
            <h1 class="title-font font-medium text-xl mb-2 text-gray-900">"#IbukuSahabatku" (TRI Indonesia)
            </h1>
            <div class="leading-relaxed ">Create Instagram filter that make you and your partner look more younger while there's some randomize question in top of you that will stop and you must answer it</div>
          </div>
          <!-- <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2 ">
            <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
            <p class="leading-relaxed">Users</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
            <p class="leading-relaxed">Subscribes</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">35</h2>
            <p class="leading-relaxed">Downloads</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
            <p class="leading-relaxed">Products</p>
          </div> -->
        </div>
        <div class="lg:w-1/2 sm:w-1/2 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
          <img class="object-cover object-center w-full h-full" src="assets/img/home-tri.png" alt="stats">
        </div>
      </div>
      <div class="container px-5 py-8 mx-auto md:hidden flex flex-wrap">
        <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mb-10">
          <img class="object-cover object-center w-full h-full" src="assets/img/home-tri.png" alt="stats">
        </div>
        <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
          <div class="w-full sm:p-4 px-4 mb-6">
            <h1 class="title-font font-medium text-xl mb-2 text-gray-900">"#IbukuSahabatku" (TRI Indonesia)
            </h1>
            <div class="leading-relaxed">Create Instagram filter that make you and your partner look more younger while there's some randomize question in top of you that will stop and you must answer it</div>
          </div>
          <!-- <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
            <p class="leading-relaxed">Users</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
            <p class="leading-relaxed">Subscribes</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">35</h2>
            <p class="leading-relaxed">Downloads</p>
          </div>
          <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
            <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
            <p class="leading-relaxed">Products</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">

</section>